.profile-component .container,
.chat-component .container {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    width: 600px;


}

.profile-component .content,
.chat-component .content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}